<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">


    <link rel="stylesheet" href="css/admin.css">
    <title>Admin Panel</title>
</head>
<body>
    <nav>
      <form action="/logout" method="GET">
        <button><i class="fas fa-sign-out-alt"></i> Logout</button>
      </form>
      <button>
        <a href="/api/add"><i class="fas fa-plus-square"></i> Add quote</a>
      </button>
    </nav>

    <table cellspacing=0>
        <thead>
            <td>ID</td>
            <td>Text</td>
            <td>Author</td>
            <td>Category</td>
        </thead>
        <tbody>
            <% quotes.forEach(quote => { %>
                <tr>
                    <td><%= quote.rowid %></td>
                    <td><%= quote.text %></td>
                    <td><%= quote.author %></td>
                    <td><%= quote.category %></td>
                    <td>
                        <button class="edit">
                            <a href="/api/<%= quote.rowid %>">Edit</a>
                        </button>
                        <form action="/api/<%= quote.rowid %>/del?_method=DELETE" method="POST">
                            <button class="del">Del</button>
                        </form>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>