<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/css/forms.css">
    <title>Edit Quote</title>
</head>

<body>
    <form action="/api/<%= quote.rowid %>?_method=PUT" method="POST">
        <select name="category" id="category">
            <% let options = ['category','funny','motivational'] %>
               <% options.forEach(option => { %>
                    <option value="<%= option %>" <%= (option == quote.category) ? "selected" : (option == 'category' ? "disabled" : "") %>><%= option %></option>
                <% }) %>
        </select>
        <textarea name="text" id="text"><%= quote.text %></textarea>
        <input type="text" name="author" id="author" value="<%= quote.author %>">
        <input type="submit" value="Save Quote">
    </form>
</body>

</html>